<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
<h2>[[${board.boardTitle}]]</h2>



<!-- 게시글 상세 -->
<h3>게시글 상세보기</h3>
<div>
    <strong>번호:</strong> <span th:text="${board.boardNo}">1</span>
</div>
<div>
    <strong>작성자:</strong> <span th:text="${board.userName}">홍길동</span>
</div>
<div>
    <strong>제목:</strong> <span th:text="${board.boardTitle}">게시글 제목</span>
</div>
<div>
    <strong>내용:</strong> <span th:text="${board.boardDetail}">게시글 내용</span>
</div>
<div>
    <strong>작성일:</strong> <span th:text="${#temporals.format(board.boardCreateDate, 'yyyy-MM-dd HH:mm:ss')}">2024-12-13</span>
</div>

<!-- 삭제 버튼 -->
<button id="deleteBtn" type="button" th:onclick="'boardDelete('+ ${board.boardNo} +')'">삭제</button>



<!-- 댓글 추가 폼 -->
<h3>댓글 작성</h3>
<form th:action="@{/comment}" method="post">
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="commentTitle" required>
    </div>
    <div>
        <label for="content">내용:</label>
        <input type="text" id="content" name="commentDetail" required>
    </div>
    <div>
        <button type="submit">댓글 작성</button>
    </div>
</form>
</body>
</html>




<script>

    function boardDelete(boardNo) {
        console.log(boardNo);
        const csrfToken = '[[${_csrf.token}]]';

        fetch(`/board/delete/${boardNo}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-Csrf-Token': csrfToken
            }
        })
            .then(response => {
                console.log(response);
                if (response.ok) {
                    alert('게시물 삭제완료');
                    window.location.href = "/";
                } else {
                    alert('게시물 삭제실패');
                }
            })
            .catch(error => console.error('Error:', error));



    }

</script>